@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<div class="text-center">
    <div class="container mt-5">
        <div class="row mt-5 mb-3">
            <div class="col col-lg-4 image-wrap">
                <a href="~/Procedure">
                    <img src="~/img/iconClock.png" />
                    <h2 class="display-4">Запис</h2>
                </a>
            </div>
            <div class="col col-lg-4">
                <a href="~/Procedure">
                    <img src="~/img/iconSpa-flower.png" />
                    <h2 class="display-4">Послуги</h2>
                </a>
            </div>
            <div class="col col-lg-4">
                <a href="~/Procedure">
                    <img src="~/img/iconClient.png" />
                    <h2 class="display-4">Клієнти</h2>
                </a>
            </div>
            <div class="col col-lg-4">
                <a href="~/Procedure">
                    <img src="~/img/iconWarehouse.png" />
                    <h2 class="display-4">Товари</h2>
                </a>
            </div>
            <div class="col col-lg-4">
                <a href="~/Procedure">
                    <img src="~/img/iconMoney-bag.png" />
                    <h2 class="display-4">Фінанси</h2>
                </a>
            </div>
            <div class="col col-lg-4">
                <a href="~/Procedure">
                    <img src="~/img/iconShopify.png" />
                    <h2 class="display-4">Покупки</h2>
                </a>
            </div>
        </div>
    </div>
</div>