@model IEnumerable<MyCosmetologist.Web.ViewModel.RecordViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Усі Записи Клієнтів</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Створити новий запис</a>
    @*<a asp-action="#" class="btn btn-secondary">Виконані записи</a>*@
    <a asp-action="#" class="btn btn-secondary">Усі записи</a>
    <input type="text" name="search" id="search" class="form-group col-sm-3" placeholder="Client Name" />
    <input type="button" value="Search" class="btn btn-success" onclick="refreshGrid()" />

</p>

<div id="contentItem">
</div>

<script>
    $(document).ready(function () {
        refreshGrid();
    })
    function deleteRecord(id) {
        if (confirm("Delete Record?") == true) {
            alert("Now deleting");
            $.ajax({
                url: '@Url.Action("Delete", "Record")' + "?id=" + id,
                type: 'DELETE',
                success: function () {
                    refreshGrid();
                }
            });
        }
    }
    function refreshGrid() {
        $.ajax({
            url: '@Url.Action("GetItems", "Record")' + "?search=" + $("#search").val(),
            method: "GET",
            success: function (partialViewData) {
                $('#contentItem').html(partialViewData);
            }
        });
    }
</script>

