@model IEnumerable<MyCosmetologist.Web.ViewModel.ProcedureViewModel>
@{
    ViewData["Title"] = "Index";

}

<h1>Усі Процедури</h1>

<p>
    <a style="margin: 3px" class="btn btn-secondary" href="~/Procedure/Create">Створити Процедуру</a>
    <a style="margin: 3px" class="btn btn-secondary" href="~/ProcedureCategory/Create">Створити Категорію</a>

    <input type="text" name="search" id="search" class="form-group col-sm-3" placeholder="Procedure Name" />
    <input type="button" value="Search" class="btn btn-success"  onclick="search()"/>
</p>

<div id="contentItem">
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetItems", "Procedure")',
            success: function (partialViewData) {
                $('#contentItem').html(partialViewData);
            }
        });
    })
    function search() {
        $.ajax({
            url: '@Url.Action("GetItems", "Procedure")' +"?search="+ $("#search").val(),
            method: "GET",
            success: function (partialViewData) {
                $('#contentItem').html(partialViewData);
            }
        });
    }
</script>




